<div id="verify" class="container">
  <div class="verify raise">
    <div class="form">
      <form id="verify-form" action="/register/verify" method="post">
        <div class="form__title">
          <h2>tisk task</h2>
          <h1>account verification</h1>
          {{#if error}}
            <p>{{ error }}</p>
          {{else}}
            <p>Please enter your 6 digit verification code.</p>
          {{/if}}
        </div>
        <div class="code">
          <input class="raise raise--light" type="text" name="code" maxlength="1" value="">
          <input class="raise raise--light" type="text" name="code" maxlength="1" value="">
          <input class="raise raise--light" type="text" name="code" maxlength="1" value="">
          <input class="raise raise--light" type="text" name="code" maxlength="1" value="">
          <input class="raise raise--light" type="text" name="code" maxlength="1" value="">
          <input class="raise raise--light" type="text" name="code" maxlength="1" value="">
        </div>
        <button type="submit" class="raise raise--light" name="button">Verify</button>
      </form>
    </div>
  </div>
</div>
