@import "variables"

*
  box-sizing: border-box

body
  padding: 50px
  font: 14px "Source Sans Pro", Helvetica, Arial, sans-serif
  background-color: $light-100
  color: $dark
  min-height: 100vh
  margin: 0
  display: flex

a
  color: #00B7FF

h1, h2, h3, h4, h5, h6
  color: $dark
  margin: 0 0 0.5rem

button
  cursor: pointer
  border: none
  background-color: transparent
  & + button
    margin-left: 0.5rem
