* {
  box-sizing: border-box; }

body {
  padding: 50px;
  font: 14px "Source Sans Pro", Helvetica, Arial, sans-serif;
  background-color: #e0e5ec;
  color: #58667c;
  min-height: 100vh;
  margin: 0;
  display: flex; }

a {
  color: #00B7FF; }

h1, h2, h3, h4, h5, h6 {
  color: #58667c;
  margin: 0 0 0.5rem; }

input {
  font-size: 12px; }
  input:focus {
    outline: none; }

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: 0.25s; }
  button + button {
    margin-left: 0.5rem; }
  button:focus {
    outline: none;
    box-shadow: 0.1em 0.1em 0.2em rgba(163, 177, 198, 0.2), -0.1em -0.1em 0.2em rgba(255, 255, 255, 0.2); }

.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  flex: 1; }

.raise {
  padding: 1rem;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0.5em 0.5em 1em rgba(163, 177, 198, 0.5), -0.5em -0.5em 1em rgba(255, 255, 255, 0.5); }
  .raise--light {
    box-shadow: 0.25em 0.25em 0.5em rgba(163, 177, 198, 0.3), -0.25em -0.25em 0.5em rgba(255, 255, 255, 0.3); }
    .raise--light[type=button] {
      padding: 0.5rem; }

#tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }
  #tasks .list {
    width: 100%; }
    #tasks .list--container {
      max-width: 50%;
      width: 100%;
      padding: 0 1rem; }
    #tasks .list--header {
      text-align: center; }
    #tasks .list--subheading {
      margin-bottom: 1rem; }
    #tasks .list--body {
      padding: 1rem; }
      #tasks .list--body section + section {
        margin-top: 2rem; }
    #tasks .list--new-task {
      margin-top: 0.5rem;
      display: flex; }
      #tasks .list--new-task input {
        padding: 0.75rem 1rem;
        background-color: transparent;
        border: none;
        width: 100%;
        margin: 0; }
        #tasks .list--new-task input::placeholder {
          color: #58667c; }
        #tasks .list--new-task input:focus {
          outline: none; }
      #tasks .list--new-task button {
        flex-shrink: 0; }
    #tasks .list--task {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.75rem 1rem;
      cursor: grab;
      font-size: 12px;
      transition: 0.25s; }
      #tasks .list--task__options span {
        display: inline-block;
        margin-right: 0.5rem; }
      #tasks .list--task__chosen {
        cursor: grabbing;
        opacity: 0.5; }
    #tasks .list--task + .list--task {
      margin-top: 0.5rem; }
    #tasks .list--todo button[name=timer], #tasks .list--todo button[name=add_time] {
      display: none; }
    #tasks .list--in_progress button[started="0"] .fa-stopwatch {
      display: inline-block; }
    #tasks .list--in_progress button[started="0"] .fa-pause {
      display: none; }
    #tasks .list--in_progress button[started="1"] .fa-stopwatch {
      display: none; }
    #tasks .list--in_progress button[started="1"] .fa-pause {
      display: inline-block; }
    #tasks .list--complete .list--task__name {
      text-decoration: line-through; }
    #tasks .list--complete button[name=timer], #tasks .list--complete button[name=complete], #tasks .list--complete button[name=due_date], #tasks .list--complete button[name=add_time] {
      display: none; }

#auth, #verify {
  display: flex;
  align-items: center;
  justify-content: center; }
  #auth .auth, #auth .verify, #verify .auth, #verify .verify {
    width: 100%; }
  #auth .error, #verify .error {
    text-align: center;
    margin: 1rem 0 0; }

.form__title {
  text-align: center;
  margin: 1rem 0; }

#login-form input,
#register-form input {
  padding: 0.75rem 1rem;
  background-color: transparent;
  border: none;
  width: 100%;
  margin: 0; }
  #login-form input::placeholder,
  #register-form input::placeholder {
    color: #58667c; }
  #login-form input:focus,
  #register-form input:focus {
    outline: none; }
  #login-form input + input,
  #register-form input + input {
    margin-top: 1rem; }

#login-form .actions,
#register-form .actions {
  margin-top: 1rem;
  display: flex; }

#login-form [type=submit],
#register-form [type=submit] {
  color: #58667c;
  width: 100%;
  margin-left: 1rem; }

#login-form [type=button],
#register-form [type=button] {
  padding: 1rem 2rem;
  color: #58667c;
  flex-shrink: 0; }

#verify-form .code {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 3rem; }
  #verify-form .code input {
    width: calc((100% / 10) - 1rem);
    text-align: center; }
    #verify-form .code input + input {
      margin-left: 0.5rem; }

#verify-form [type=submit] {
  color: #58667c;
  width: 100%; }

#time-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(224, 229, 236, 0.75);
  display: flex;
  align-items: center;
  justify-content: center; }
  #time-modal.hide {
    display: none; }
  #time-modal .modal {
    max-width: 45rem;
    width: 100%;
    background-color: #e0e5ec;
    text-align: center; }

/*# sourceMappingURL=style.css.map */